<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Co-op Excel</title>
    </head>
    <style>
     body {
         margin: 0;
     }

     * {
         box-sizing: border-box;
         border-radius: 0;
     }

     #excel {
         border: 1px solid black;
         border-collapse: collapse;
         overflow: scroll;
     }

     #data {
         width: 100vw;
         font-family: monospace;
         font-size: 12px;
     }
    </style>
    <body>
        <table id="excel"></table>
        <input id="data"></input>
        <script src="{% static "coop_excel/excel.js" %}"></script>
    </body>
</html>
