<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "coop_excel/styles.css" %}">
        <title>Co-op Excel</title>
    </head>
    <style>
     body, main {
         margin: 0;
     }

     main {
         padding-top: 30px;
     }
    </style>
    <body>
        <div id="toolbar">
            <input type="text" id="input" autocomplete="off"></input>
            <a id="value"></a>
            <a id="need-help" href="doc/">Need help?</a>
        </div>
        <main id="main_view">
            <table id="excel"></table>
        </main>
        <script src="{% static "coop_excel/excel.js" %}"></script>
    </body>
</html>
