<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "coop_excel/styles.css" %}">
        <title>Co-op Excel</title>
    </head>
    <style>
     body {
         margin: 0;
     }

     main {
         width: 100vw;
         padding-top: 28px;
         overflow: scroll;
         scrollbar-width: thin;
     }
    </style>
    <body>
        <div id="toolbar">
            <span style="width: 100vw; height: 17px;">
                <input type="text" id="input" autocomplete="off"></input>
            </span>
        </div>
        <main id="main_view">
            <table id="excel"></table>
        </main>
        <script src="{% static "coop_excel/excel.js" %}"></script>
    </body>
</html>
